<!DOCTYPE html>
<html>
<head>
	<title>{{ author }}</title>
	<link rel="stylesheet" type="text/css" href="../static/semantic.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="../static/semantic.min.js"></script>
	<script type="text/javascript" src="../static/main.js"></script>
</head>
<body>
	<div class="ui inverted menu">
		<div class="header item">
    		Medical viewer
  		</div>
	    <a class="item" href="./index">
			Home
		</a>
	  <a class="item">Information</a>
	  <a class="active item">Gallery</a>
      <a class="item" href="./query">Analysis</a>
	  <div class="right menu">
		<div class="item">
			<form class="ui icon input" action="/data" method="POST">
				<input type="text" placeholder="Filename" name="menu_search">
				<i class="search link icon" type="submit"></i>
			</form>
		</div>
	    <a class="item">Sign Up</a>
		<div class="ui dropdown item">
			Help
			<i class="dropdown icon"></i>
			<div class="menu">
			<a class="item">MRI image</a>
			<a class="item">Genome</a>
			</div>
		</div>
	  </div>
	</div>
    <div class="ui five special cards">
        {% for k in od_list%}
        <div class="card">
            <div class="blurring dimmable image">
                <div class="ui inverted dimmer">
                    <div class="content">
                    <div class="center">
						<form action="/data" method="GET">
                        	<input class="ui primary button" type="submit" value="Show more">
							<input type="hidden" value={{k[0]}} name="more">
						</form>
                    </div>
                    </div>
                </div>
                <img src = {{ url_for('static', filename = k[1][0] ) }}>
            </div>
            <div class="content">
                <a class="sub header">{{k[0]}}</a>
                <a class="meta">
                    <span class="date">{{k[1][1]}}</span>
                </a>
            </div>
        </div>
        {% endfor%}
    </div>
    
</body>
</html>