<!DOCTYPE html>
<html>
<head>
	<title>{{ author }}</title>
	<link rel="stylesheet" type="text/css" href="../static/semantic.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="../static/semantic.min.js"></script>
	<script type="text/javascript" src="../static/main.js"></script>
</head>
<body>
	<div class="ui inverted menu">
		<div class="header item">
    		Medical viewer
  		</div>
		<div class="active item">
			Home
		</div>
	  <a class="item">Information</a>
	  <a class="item">Analysis</a>
	  <div class="ui inverted menu">
		<div class="ui dropdown item">
			Getting Started
			<i class="dropdown icon"></i>
			<div class="menu">
			<a class="item">MRI image</a>
			<a class="item">Genome</a>
			</div>
		</div>
	  </div>
	  <div class="right menu">
	    <a class="item">Sign Up</a>
	    <a class="item">Help</a>
	  </div>
	</div>
	<h2>Hello {{ name }}!</h2>
	
	<div class='ui grid'>
		<div class='sixteen wide column'>
			<form class="ui form" action="/data" method="POST">
				<h3 class="text-muted">Choose a File</h3>
				<select name="filename" class="ui search dropdown" class='dropdown'>
					<option value="">Filename</option>
					{% for i in filelist%}
					<option value={{i}}>{{i}}</option>
					{% endfor%}
				</select>
				<input class="right attached small ui button" type="submit" value="Show DICOM information"></input>
			</form>
		</div>	
	</div>

	<div class='ui grid'>
		<div class='sixteen wide column'>
			<form class="ui form" action="/query" method="POST">
				<h3 class="text-muted">Or Append a query</h3>
				<select name="Query" class="find">
					<option value="">Operation</option>
					<option value='find({"0008,0030" : "113850"}).count()'>find({"0008,0030" : "113850"}).count()</option>
					<option value='find({"filename":"IM-0001-0002"})'>find({"filename":"IM-0001-0002"})</option>
				</select>
				<input class="right attached small ui button" type="submit" value="Query!" />
			</form>
		</div>
	</div>
	<!--
	<div class="container">
		<div class="header">
			<h3 class="text-muted">Or Upload a File</h3>
		</div>
		<hr/>
		<div>
			<form action="/upload" method="post" enctype="multipart/form-data">
				<input type="file" name="file">
				<br />
				<br />
				<input type="submit" value="Upload">
			</form>
		</div>
	 </div>
	 -->
	 <div class='ui grid'>
		 <div class='sixteen wide column'>
			<form class="ui form" action="/xyz" method="POST">
				<h3 class="text-muted">Or search with xyz coordination</h3>
				<div class="inline fields">
					<div class="three wide field">
					<input type="text" placeholder="x" name="x">
					</div>
					<div class="three wide field">
					<input type="text" placeholder="y" name="y">
					</div>
					<div class="three wide field">
					<input type="text" placeholder="z" name="z">
					</div>
					<input class="small ui button" type="submit" value="Search"></input>
				</div>
			</form>
		 </div>
	 </div>
</body>
</html>
